.idea

desktop.ini
/.vs/AngularWithASP_Project_0.1/FileContentIndex
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/AngularWithASP_Project_0.1/v17/.wsuo
/.vs/AngularWithASP_Project_0.1/v17/.wsuo
/.vs/VSWorkspaceState.json
/.vs/3D_Library_AngularWithASP_Project_0.1/v17/.wsuo
/.vs/AngularWithASP_Project_0.1 newest/FileContentIndex
/.vs/AngularWithASP_Project_0.1 newest/config
/.vs/AngularWithASP_Project_0.1 newest/v17
