<body>
  <h1>Models</h1>

  <div class="modelcomp-container">
    <div class="modelcomp" *ngFor="let models of modelInfo()">
      <div class="example-card">
        <a [routerLink]="['/modelDetails', models.id]" class="card-link">
          <!-- Klikateľná časť karty -->
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{models.name}}</mat-card-title>
              <mat-card-subtitle>{{models.ownerId}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src={{models.picturePath}}>
            <mat-card-content>
              <p class="desc">{{models.category}}</p>
            </mat-card-content>
          </mat-card>
        </a>
        <div class="container">
          <!-- Tlačidlo Like s metódou stopPropagation -->
          <button mat-icon-button matTooltip="Like" aria-label="Example icon-button with a heart icon" (click)="likeModel(models, $event)">
            <mat-icon>favorite</mat-icon>
          </button>
          <p class="desc">{{models.likes}}</p>
        </div>
      </div>
    </div>
  </div>

</body>
