<body>
  <h1>Create a Model</h1>

  <form [formGroup]="modelCreateForm" (ngSubmit)="onSubmit()">
    <div class="host">
      <mat-form-field>
        <mat-label>Model Name:</mat-label>
        <input matInput id="modelName" type="text" formControlName="modelName">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description:</mat-label>
        <input matInput id="description" type="text" formControlName="description">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Category:</mat-label>
        <mat-select matInput id="category" type="text" formControlName="category">
          <mat-option value="Work">Work</mat-option>
          <mat-option value="Toys">Toys</mat-option>
          <mat-option value="Parts">Parts</mat-option>
          <mat-option value="Stands">Stands</mat-option>
          <mat-option value="Vehicles">Vehicles</mat-option>
          <mat-option value="Another">Another</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Image Upload -->
      <div class="upload_buttons">
        <div class="upload_containers">
          <div>
            <label for="imageUpload" class="custom-upload-button">Upload Image</label>
            <input id="imageUpload" type="file" (change)="onChangeImage($event)" accept=".jpg, .jpeg, .png">
          </div>
          <div class="col-md-4">
            <span class="upload" *ngIf="progress > 0">{{progress}}%</span>
            <span class="upload" *ngIf="message">{{message}}</span>
          </div>
        </div>

        <!-- File Upload -->
        <div class="upload_containers">
          <div style="margin-top:10px;">
            <label for="fileUpload" class="custom-upload-button">Upload File</label>
            <input id="fileUpload" type="file" (change)="onChangeFile($event)" accept=".stl">
          </div>


          <div class="col-md-4">
            <span class="upload" *ngIf="progressFile > 0">{{progressFile}}%</span>
            <span class="upload" *ngIf="messageFile">{{messageFile}}</span>
          </div>
        </div>

      </div>

      <!-- Submit Button -->
      <button mat-button [disabled]="modelCreateForm.invalid" matTooltip="You need to fill out the form!"  [routerLink]="['/modelEdit', modelInfo()]" class="card-link">
        Submit
      </button>
      <p>{{modelInfo()}}</p>
    </div>

    <!-- Progress Messages -->
   

  </form>
</body>
